.Skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background: #2B3740;
  color: #AADBFF;
}

.Skills__title {
  margin: 20px;
  font-size: 60px;
}

.Skills__technologies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, max-content));
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 80px 150px;
  margin: 30px 0;
  width: 100%;
}

.Skills__img {
  height: 200px;
}

@media (max-width: 766px) {
  .Skills__img {
    height: 150px;
  }

  .Skills__title {
    font-size: 30px;
  }
}