.LandingPage__leftBackground {
  height: 100%;
  margin: -2px;
  opacity: 0.5;
}

.LandingPage {
  height: 100%;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
}

.LandingPage__left {
  left: 0;
  background-color: #2B3740;
}

.LandingPage__left::after {
  display:block;
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
  content:'';
  background: linear-gradient(to left, rgba(43, 55, 64,1) 0%,rgba(255,255,255,0) 69%);
}

.LandingPage__right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0;
  background-color: #2B3740;
  color: #AADBFF;
}

.LandingPage__name {
  font-size: 40px;
  font-weight: bold;
}

.LandingPage__description {
  font-size: 30px;
}

.LandingPage__mePhoto {
  margin-bottom: 30px;
  border-radius: 100%;
  height: 300px;
}

.LandingPage__links {
  display: flex;
}

.LandingPage__link {
  height: 40px;
  margin: 20px;
}
